.body3 {
    margin: 0;
    padding: 0;
    text-align: center;
    min-height: 100vh;
    background-image: url('./Images/background.png');
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

.body3 .resetPass {
    width: 350px;
    max-width: 90%;
    padding: 30px 20px;
    border-radius: 10px;
    box-shadow: 5px 20px 50px rgb(103, 101, 46);
    background-color: rgba(219, 217, 146, 0.9);
}

.body3 label {
    color: rgb(219, 217, 146);
    font-size: 1.9em;
    justify-content: center;
    display: flex;
    margin: 50px;
    font-weight: bold;
    cursor: pointer;
    transition: .5s ease-in-out;
}

.body3 input {
    width: 60%;
    height: 20px;
    background: #e0dede;
    justify-content: center;
    display: flex;
    margin: 20px auto;
    padding: 10px;
    border: none;
    outline: none;
    border-radius: 5px;
    font-size: 15px;
}

.body3 button {
    width: 60%;
    height: 40px;
    margin: 10px auto;
    justify-content: center;
    display: block;
    color: #fff;
    background: rgb(103, 101, 46);
    font-size: 1em;
    font-weight: bold;
    margin-top: 20px;
    outline: none;
    border: none;
    border-radius: 5px;
}

.body3 .resetPass button:hover {
    background: rgb(155, 153, 95);
}

.body3 p {
    font-weight: bold;
    color: rgb(219, 217, 146);
}